html {
  background-color:rgb(238, 238, 227);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  font-family: 'Schoolbell', cursive;
  font-size: 70px;
}

h2{
  font-family: 'Schoolbell', cursive;
  font-size: 40px;
} 

th{
  font-family: 'Schoolbell', cursive;
  padding: 80px;
  border-color: black;
  font-size: 25px;
} 


label {
    font-family: 'Schoolbell', cursive;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  height: 100px;
  height: 100px;
}
